form {
    background-color:rgb(185, 142, 99); /*container*/
    color: rgb(235, 228, 228);
    flex-direction: column;
    display: flex;
    gap: 30px;
    padding: 40px ;
    width: 300px;
    justify-content: center;
    border-radius: 10%;
    position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);
}

* {
  background-color: #fffdfc;

}

button {
    color: #a13b0b;
    min-width: 10px;
    width: 100px;
    position: absolute; top: 92%; left: 50%; transform: translate(-50%, -50%);;

}

h1 {
    color: #a13b0b;


}

h2 {
  color: #a13b0b;

}
 p {
  color: #a13b0b;
 }

 input {
  color: rgb(66, 52, 52);
  border-radius: 250px;
  padding: 10px 10px;

 }






