.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.info{
    display: grid;
    align-items: start;
    justify-items: start;
    align-self: self-start;
}

.container_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.img_doce_detail{
    display: grid;
    align-items: end;
    justify-items: end;
    border-radius: 5px;
}

.nome{
    font-size: 40px;
    padding: 10px;
}

.valor{
    font-size: 30px;
    color: #ccc;
    padding: 10px;
}

.descricao{
    font-size: 20px;
    text-align: justify ;
    padding: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    color: #999;
    background-color: black;
    
}
