img{
    width: 150px;
    height: 180px;
    border-radius: 30px;
    
  }

  .doce{
    width: 20px 20px;
    justify-content: center;
  }

  .hcardapio{
    width: 500px;
    position: absolute; top: 22%; left: 50%; transform: translate(-50%, -50%);

  }

